.gridContainer {
  background-color: white;
  margin-bottom: 20px;
}

.listGrid {
  background-color: white;
  margin-bottom: 20px;
  min-height: calc(65vh - 20px);
}

.tabMenu {
  min-width: 250px;
}

.gridContainerTabSecurity {
  height: 100%;
}

.currentPasswordField {
  margin-bottom: 20px !important;
}
