.userListGrid {
  background-color: white;
  padding-right: 20px;
  padding-bottom: 20px;
}

.buttonGrid {
  display: flex;
  justify-content: flex-end;
}

.buttonCadastrar {
  margin-right: 20px;
  height: 36px;
}

.userDialogTitle {
  background: linear-gradient(90.83deg, #0066ff 8.37%, #00c2ff 96.86%);
  color: white;
}

.formFields {
  padding-top: 5px;
  padding-left: 20px;
}
