.card {
  width: 300px;
  height: 200px;
  box-shadow: 10px 10px 15px 5px #00000026 !important;
  border-radius: 10px;
  @media screen and (max-width: 1040px) {
    width: 100%;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 !important ;
}

.icon {
  font-size: 48px;
}

.gridCard {
  padding: 24px;
  align-items: center;
  width: auto;
}

.h4 {
  font-size: 34px !important;
  font-weight: 500 !important;
  color: #000000de;
}

.h2 {
  font-size: 60px !important;
  font-weight: 600 !important;
  color: #000000de;
}

.h6 {
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #000000de;
}

.cardTitle {
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #000000de;
}
